<div class="grid footer">
  <div class="col-12 md:col-3 lg:col-3 sm:flex-nowrap primeiro">
    <p class="titulo">Logo</p>
  </div>
  <div class=" grid col-12 md:col-6 lg:col-6 sm:flex-nowrap  terceiro">
    <div class="col-12 md:col-4 lg:col-4 sm:flex-nowrap desc1">
      <p class="titulo">Inicio</p>
      <ul>
        <li class="paragrafo">Home</li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-12 md:col-4 lg:col-4 sm:flex-nowrap desc12">
      <p class="titulo">Sobre</p>
      <ul>
        <li class="paragrafo">Iniciativa</li>
        <li class="paragrafo">Noticias</li>
        <li class="paragrafo">Regras</li>
      </ul>
    </div>
    <div class="col-12 md:col-4 lg:col-4 sm:flex-nowrap desc3">
      <p class="titulo">Contato</p>
      <ul>
        <li class="paragrafo">Faq</li>
        <li class="paragrafo">Telefone</li>
        <li class="paragrafo">Chat</li>
      </ul>
    </div>
  </div>
  <div class="col-12 md:col-3 lg:col-3 sm:flex-nowrap segundo logoFooterdiv">

      <div>
        <i class="pi  pi-facebook logoFooter"></i>
        <i class="pi  pi-twitter logoFooter"></i>
        <i class="pi pi-instagram logoFooter"></i>
        <button class="sombraGeneric">Contato</button>
      </div>

  </div>
</div>
