<p-menubar [model]="items" >
  <!-- <a (click)="logout()" style="display: inline">Sair</a> -->
</p-menubar>


<app-form-entrar></app-form-entrar>
<app-form-cadastro></app-form-cadastro>
<app-form-remover-user></app-form-remover-user>
<app-form-atualizar-user></app-form-atualizar-user>
<!-- <app-form-add-noticia [clicou]="addNoticia"></app-form-add-noticia> -->
<!-- <button (click)="ngxSmartModalService.getModal('myModal').open()">Open myModal</button>
<button (click)="ngxSmartModalService.getModal('videoModal').open()">Open myModal</button> -->

<!--
<p>Lorem ipsum d</p>
<div>
  <ul *ngFor="let item of fatiado">
    <li>{{item.noticia}}</li>
  </ul>
</div> -->




<!-- <h5>Basic</h5> -->
<!-- <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
<!-- <p-dialog header="Adicionar usuário" [(visible)]="displayBasic" [style]="{width: '50vw'}"> -->
  <!-- <form  class="frm-user" [formGroup]="cadastroForm" (ngSubmit)="adicionarUser()" >
    <h5>Nome</h5>
    <input type="text" pInputText formControlName="nome">
    <h5>Email</h5>
    <input type="text" pInputText formControlName="email">
    <h5>Senha</h5>
    <input type="text" pInputText formControlName="senha">
    <p-button label="Salvar user" class="btnEnviar" type="submit"></p-button>
  </form> -->


  <!-- <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog> -->


























































<!-- Form Entrar -->
<ngx-smart-modal #myModal identifier="myModal" >
  <h1>Title</h1>
  <p>Some stuff...</p>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>
