
    <ngx-smart-modal #modalCadastro identifier="modalCadastro" customClass="medium-modal">
      <h1>Cadastrar-se</h1>
      <form class="formModal" [formGroup]="cadastroForm" (ngSubmit)="adicionarUser()">
        <div class="ctnCadastro">
          <label id="lSenhaRequired" class="text-danger" *ngIf="cadastroForm.get('nome')?.errors?.['rangeLength'] && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)
          || cadastroForm.get('nome')?.errors?.['required'] && (cadastroForm.get('nome')?.dirty || cadastroForm.get('nome')?.touched)
          " class="lbnCamposInvalido">
          {{displayMessage['nome']}} </label>
          <label for="nome" class="lbCadastro tituloParagrafoReduzidoLabel">Nome</label>
          <input type="text" id="nome" pInputText class="inputConfig" formControlName="nome" />
          <label id="lbEamilRequired" class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.['email'] && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)
          || cadastroForm.get('email')?.errors?.['required'] && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)" class="lbnCamposInvalido">
          {{displayMessage['email']}} </label>
          <label for="email" class="lbCadastro tituloParagrafoReduzidoLabel">Email</label>
          <input type="text" id="email" pInputText class="inputConfig" formControlName="email" />
          <label id="lSenhaRequired" class="text-danger" *ngIf="cadastroForm.get('senha')?.errors?.['rangeLength'] && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)
          || cadastroForm.get('senha')?.errors?.['required'] && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)
          " class="lbnCamposInvalido">
          {{displayMessage['senha']}} </label>
          <label for="senha" class="lbCadastro tituloParagrafoReduzidoLabel">Senha</label>
          <input type="password"  id="senha" pPassword class="inputConfig" formControlName="senha" />

          <button [disabled]="!cadastroForm.valid"  pButton pRipple type="submit" label="Cadastrar-se" class="p-button-raised"></button>
        </div>
  </form>
</ngx-smart-modal>

