<div class="grid bgLogo">
  <div class="flex justify-content-center col-12 md:col-12 lg:col-12 sm:flex-nowrap">
    <div>
      <h1 class="title flex align-items-start justify-content-center">Divulgação livre</h1>
      <p class="tecto-loja magda">" Lorem ipsum dolor sit amet, consectetur adip interface  con element  align-items-center Lorem ipsum dolor sit amet, consectetur adip interface  con element  align-items-center Lorem ipsum dolor sit amet, consectetur adip interface  con element  align-items-center"</p>
    </div>
    <img  alt="" src="../../../assets/storefront_illustration_2.svg" class="imgWolf flex align-items-center">
  </div>
  </div>
